extends layout.pug

block append head
	title= "Bridge Symphony - Home"
	meta(name="description",content="Bridge Symphony est un support didactique pour l enseignement du bridge et un outil d apprentissage et de progression innovant pour bridgeurs de tous niveaux")

block content
	div(id="container" class="backgroundcontainer")
		div(id="output" class="backgroundcontainer")
	div(id="controls" style="display: none;" class="controls")

	+carousel("presentation",[{image:"../images/1.png",h1:carousel_h1_1,button:{caption:carousel_caption_1,url:"#F1"}},{image:"../images/2.png",h1:carousel_h1_2,button:{caption:carousel_caption_2,url:"#F2"}},	{image:"../images/3.png",h1:carousel_h1_3,button:{caption:carousel_caption_3,url:"#F3"}},{image:"../images/4.png",h1:carousel_h1_4,button:{caption:carousel_caption_4,url:"#F4"}}])

	.container.marketing
		p#F1
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2(class='featurette-heading') #{feature1_h2}
					span #{feature1_h2_sub}
				p.lead #{feature1_p}

			.col-md-5
				<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="special cards" src="../images/1b.png" data-holder-rendered="true">

		p#F2
		hr.featurette-divider
		.row.featurette
			.col-md-7.col-md-push-5
				h2(class='featurette-heading') #{feature2_h2}
					span #{feature2_h2_sub}
				p.lead #{feature2_p} Vous trouverez dans le lien <a href="http://www.bridgesymphony.com/tuto">Tuto</a> des exemples de grilles de travail (imprimables et éditables) et leurs illustrations

			.col-md-5.col-md-pull-7
				<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="teacher / enseignants" src="../images/2b.png" data-holder-rendered="true">

		p#F3
		hr.featurette-divider
		.row.featurette
			.col-md-7
				h2(class='featurette-heading') #{feature3_h2}
					span #{feature3_h2_sub}
				p.lead #{feature3_p} Utilisez les grilles <a href="http://bridgesymphony.com/tuto">Tuto</a> pour mieux vous accorder.

			.col-md-5
				<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="player / joueurs" src="../images/3b.png" data-holder-rendered="true">

		p#F4
		hr.featurette-divider
		.row.featurette
			.col-md-7.col-md-push-5
				h2(class='featurette-heading') #{feature4_h2}
					span #{feature4_h2_sub}
				p.lead #{feature4_p} Imaginez leurs plans - <a href="http://bridgesymphony.com/tuto">Tuto</a>.

			.col-md-5.col-md-pull-7
				<img class="littledown featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="doubles / duos" src="../images/4b.png" data-holder-rendered="true">

		hr.featurette-divider


block append scripts
	script(src='js/triangles-home-min.js')
