extends layout.pug

block append head
	title= "Bridge Symphony - Contact"
	meta(name="description",content="Contactez Bridge Symphony le support didactique pour l enseignement du bridge et l'outil de progression innovant pour bridgeurs de tous niveaux")

	block append style
		<link rel="stylesheet" href="css/table.css">


block content
	div(id="container" class="backgroundcontainer")
		div(id="output" class="backgroundcontainer")
	div(id="controls" style="display: none;" class="controls")

	.container

			.col-md-12
				- var list = ["Main", "Ouv"]
				table(border="1")
					thead
						tr
							th(colspan=9)
								div
									span(style="display:inline") <img src="images/logo.png"	width=50px />
									span(style="display:table;margin:0 auto;text-align:center; font-size:24px") Encheres a Deux
									span(style="float:right; font-size:24px") 100-1


						tr
							th(colspan=9) Ouverture
						tr
							- for (var i = 0; i < 3; ++i) {
								each value, index in list
									th=value
							- }

					tbody
					- for (var i = 0; i < 10; ++i) {
						tr(class=(i % 2 == 0) ? 'odd' : 'even')
							- for (var j = 0; j < 3; ++j) {
									td
										include selector_cards.pug
									td
										include select_colors.pug
							- }
					- }

				- var list = ["Ouv n°1", "Int n°2"]
				table(border="1")
					thead
						tr
							th(colspan=9)
								div
									span(style="display:inline") <img src="images/logo.png"	width=50px />
									span(style="display:table;margin:0 auto;text-align:center; font-size:24px") Encheres competitives
									span(style="float:right; font-size:24px") 100-2

						tr
							th(colspan=9) ...Intervention du numero 2...
						tr
							- for (var i = 0; i < 3; ++i) {
								each value, index in list
									th=value
								th(width=100)
							- }
						tr
							- for (var i = 0; i < 3; ++i) {
								th
								th
									include selector_cards.pug
								th
							- }

					tbody
					- for (var i = 0; i < 10; ++i) {
						tr(class=(i % 2 == 0) ? 'odd' : 'even')
							- for (var j = 0; j < 3; ++j) {
									td
										include select_colors.pug
									td
										include select_colors.pug
									td
							- }
					- }



				- var list = ["Ouverture", "A1", "A2", "A3", "A4"]
				table(border="1")
					thead
						tr
							th(colspan=6)
								div
									span(style="display:inline") <img src="images/logo.png"	width=50px />
									span(style="display:table;margin:0 auto;text-align:center; font-size:24px") Encheres a deux
									span(style="float:right; font-size:24px") 200-1
						tr
							th(colspan=6) Reponses aux ouvertures de ...
						tr
							each value, index in list
								th=value
							th(width=100)

					tbody
					- for (var i = 0; i < 10; ++i) {
						tr(class=(i % 2 == 0) ? 'odd' : 'even')
							each value, index in list
								td
									include select_colors.pug
							td
					- }




				- var list = ["---", "Rep ", "Red", "Re-Rép", "Re-Red"	]
				table(border="1")
					thead
						tr
							th(colspan=5)
								div
									span(style="display:inline") <img src="images/logo.png"	width=50px />
									span(style="display:table;margin:0 auto;text-align:center; font-size:24px") Encheres a deux
									span(style="float:right; font-size:24px") 200-2
						tr
							th(colspan=2) Réponse à l ouverture de -->
							th
								include select_colors.pug
							th(colspan=2) et developpements Main:
							th
								include selector_cards.pug
						tr
								each value, index in list
									th=value
								th(width=100)

					tbody

					- for (var i = 0; i < 10; ++i) {

						tr(class=(i % 2 == 0) ? 'odd' : 'even')
							td
								include selector_cards.pug
							- for (var j = 0; j < 4; ++j) {
								td
									include select_colors.pug
							- }
							td
					- }







				- var list = ["Ouv (n°1)", "Int(n°2)", "n°3", "Rép (n°4)"]
				table(border="1")
					thead
						tr
							th(colspan=5)
								div
									span(style="display:inline") <img src="images/logo.png"	width=50px />
									span(style="display:table;margin:0 auto;text-align:center; font-size:24px") Encheres competitives
									span(style="float:right; font-size:24px") 300-1
						tr
							th(colspan=5) Réponse (n°4) à l intervention du partenaire (n°2)
						tr
								each value, index in list
									th=value
								th(width=100)

					tbody
						td(rowspan=11)
							include select_colors.pug
						- for (var i = 0; i < 10; ++i) {

							tr(class=(i % 2 == 0) ? 'odd' : 'even')
								td
									include select_colors.pug
								td
									include select_colors.pug
								td
									include select_colors.pug
								td
						- }
						tr
							td
							td
							td
							td
								include selector_cards.pug


				- var list = ["Ouv n°1", "Int n°2", "Rép n°3"	]
				table(border="1")
					thead
						tr
							th(colspan=5)
								div
									span(style="display:inline") <img src="images/logo.png"	width=50px />
									span(style="display:table;margin:0 auto;text-align:center; font-size:24px") Encheres competitives
									span(style="float:right; font-size:24px") 400-1
						tr
							th(colspan=5) Réponses à l'ouverture du partenaire (n°1) après interventions du n°2
						tr
								each value, index in list
									th=value
								th(width=100)

					tbody
						td(rowspan=11)
							include select_colors.pug
						- for (var i = 0; i < 10; ++i) {

							tr(class=(i % 2 == 0) ? 'odd' : 'even')
								td
									include select_colors.pug
								td
									include select_colors.pug
								td
						- }
						tr
							td
							td
							td
								include selector_cards.pug



block append scripts
	script(src='js/triangles-contact-min.js')
